apiVersion: v1
kind: Service
metadata:
  name: redis-commander
  namespace: suneasy-dev
  labels:
    app: redis-commander
    tier: infrastructure
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: redis-commander
