apiVersion: v1
kind: Service
metadata:
  name: auth
  namespace: suneasy-dev
  labels:
    app: auth
    component: backend
spec:
  type: ClusterIP
  selector:
    app: auth
  ports:
  - name: http
    protocol: TCP
    port: 8010
    targetPort: 80
