apiVersion: v1
kind: Service
metadata:
  name: client
  namespace: suneasy-dev
  labels:
    app: client
    component: frontend
spec:
  type: ClusterIP
  selector:
    app: client
  ports:
    - protocol: TCP
      port: 4200
      targetPort: 4200
      name: http
